[submodule "NFT_marketplace/lib/forge-std"]
	path = NFT_marketplace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crowdfunding/lib/forge-std"]
	path = crowdfunding/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Vesting/lib/forge-std"]
	path = Vesting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Multisig/lib/forge-std"]
	path = Multisig/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAO_Governance/lib/forge-std"]
	path = DAO_Governance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Lottery/lib/forge-std"]
	path = Lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Escrow/lib/forge-std"]
	path = Escrow/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Staking/lib/forge-std"]
	path = Staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Dutch_Auction/lib/forge-std"]
	path = Dutch_Auction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Flash/lib/forge-std"]
	path = Flash/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Subscription/lib/forge-std"]
	path = Subscription/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC721_NFT/lib/forge-std"]
	path = ERC721_NFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Token_Swap/lib/forge-std"]
	path = Token_Swap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC20_Token/lib/forge-std"]
	path = ERC20_Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
